[Unit]
Description=Initializes zram swaping
After=systemd-user-sessions.service user-runtime-dir@%i.service dbus.service

[Service]
ExecStart=/usr/bin/init-zram-swapping
ExecStop=/usr/bin/end-zram-swapping
Type=oneshot
RemainAfterExit=true
